<app-menu></app-menu>
<router-outlet></router-outlet>

<!--<ul>
    <li>Riz</li>
    <li [ngStyle]="{backgroundColor: isVital ? 'red' : 'blue'}">Curry</li>
    <li>Yakisoba</li>
    <li [ngClass]="{'vital': isVital}">Okonimiyaki</li>
</ul>
<hr>
<ul *ngIf="displayGuestList">
    <li>Sergio</li>
    <li>Otaku</li>
    <li>Leati</li>
    <li>Daron</li>
</ul>
<hr>
<ul *ngFor="let song of songList">
    {{ song }}
</ul>
<h1 appHighlight>Kobe beek</h1>

exercice router
<ul>
    <li>
        <a [routerLink]="['/home']">HOME</a>
    </li>
    <li>
        <a [routerLink]="['/contact']">CONTACT</a>
    </li>
</ul>

<router-outlet></router-outlet> -->

